.banner {
  background: url(../images/exhibition-spaces/exhibition-heading.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.bio-medicine,
.eco-robo,
.cosmology {
  margin: 150px auto;
}
.bio-medicine,
.evolution {
  align-items: end;
  -ms-grid-row-align: end;
}
.bio-medicine p,
.evolution p {
  grid-column: 1/3;
  -ms-grid-column: 1/3;
}

.cosmology {
  background-color: var(--bg);
  padding: 20px;
}

.eco-robo h2 {
  padding: 10px;
}
.robotics,
.ecology {
  background-color: var(--bg);
  box-shadow: 2px 2px 2px black;
}
