.heading {
  background: url(../images/home/exhibition-heading.jpg) center no-repeat;
  background-size: cover;
}

.bio-medicine,
.eco-robo,
.cosmology {
  margin: 150px auto;
}
.cosmology {
  background-color: var(--gray);
  padding: 20px;
}
.eco-robo h2 {
  padding: 20px;
}
.robotics,
.ecology {
  background-color: var(--darkblue);
}
.ecology p,
.robotics p {
  color: white;
}
