.banner {
  background: url(../images/explore/explore-heading.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.explore-kids {
  background-color: var(--darkblue);
  color: white;
}
.explore-kids-content {
  max-width: 500px;
  margin: 0px auto 30px;
  padding: 20px 10px;
}
.parallax-explore {
  background: url(../images/explore/exlore-kids-parallax.jpg) center bottom no-repeat;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
}
main h2 {
  grid-column: 1/-1;
}
