.heading {
  background: url(../images/get-involved/get-involved-heading.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.move-right {
  justify-self: center;
}
main h2 {
  grid-column: 1/-1;
}
.get-involve {
  margin: 150px auto;
  align-content: center;
}
.get-involve img {
  max-width: 60%;
}
