.banner {
  background: url(../images/get-involved/get-involved-heading.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

main h2 {
  grid-column: 1/-1;
  -ms-grid-column: 1/-1;
}
.get-involve {
  grid-template-columns: 30% 70%;
  -ms-grid-columns: 30% 70%;
  margin: 150px auto;
  align-content: center;
  -ms-grid-row-align: center;
}
