@media only screen and (max-width: 610px) {
  /*global header*/
  nav {
    display: none;
    margin: 0 auto;
  }
  #hamburger-menu:checked ~ nav {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    justify-content: center;
  }
  /*global heading */

  /* global grid */
  .two-col-grid {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
  .three-col-grid {
    grid-template-columns: auto;
    justify-content: center;
  }

  /*home page */
  .about {
    grid-template-columns: auto;
  }
  .about figure {
    grid-column: 1/3;
  }
  .about-text:nth-of-type(1) {
    grid-column: 1/3;
  }

  .involve-home img {
    padding: 20px;
    max-width: 100%;
  }
  /* get involve page */
  .get-involve {
    justify-items: center;
    margin: 80px auto;
    text-align: center;
  }
  /*events & exhibition spaces page */
  .event-content {
    margin: 80px auto;
  }
  .night-museum {
    grid-row: 1;
  }
  /*contact page */
  .form {
    margin: 20px;
  }
}
@media (min-width: 611px) and (max-width: 790px) {
  /*global header */
  header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /*global grid */
  .three-col-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  /*home page */
  .about {
    grid-template-columns: auto;
  }
  .about figure,
  .about-text:nth-of-type(1) {
    grid-column: 1/3;
  }
  .overlay:nth-of-type(3),
  .news-text a:last-child {
    grid-column: 1/3;
  }
  /*get involved page */
  .get-involve img {
    max-width: 100%;
  }
  /*events & exhibition spaces page */
  .event-content {
    margin: 80px auto;
    grid-template-columns: auto;
  }
  .night-museum {
    grid-row: 1;
  }
}
