.banner {
  background: url(../images/visit/visit-heading.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}
.location-info div {
  font-weight: bold;
  line-height: 2em;
}
.location-info {
  grid-template-columns: auto auto;
  -ms-grid-columns: auto auto;
}
.location-info h2 {
  grid-column: 1/-1;
  -ms-grid-column: 1/-1;
  text-align: center;
}

.other-info > div,
.timing-info > div {
  background-color: var(--gray);
  padding: 20px;
  align-items: normal;
  -ms-grid-row-align: normal;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.other-info {
  margin-bottom: 20px;
}

main .fas {
  font-size: 2em;
  color: var(--light-blue);
}
