.heading {
  background: url(../images/visit/visit-heading.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.location-info h2 {
  grid-column: 1/-1;
  text-align: center;
}
main img {
  max-width: 100%;
}

.other-info > div,
.timing-info > div {
  background-color: var(--gray);
  /* color: white;*/
  padding: 20px;
  align-items: normal;
  line-height: 2em;
}
.timing-info {
  align-items: normal;
}
.other-info {
  margin-bottom: 20px;
}
.location-info div {
  font-weight: bold;
  line-height: 2em;
}
.location-info {
  grid-template-columns: auto auto;
  align-items: normal;
}
main .fas {
  font-size: 2em;
}
